openapi: 3.0.3
info:
  title: MiraMarket Reporting API
  version: 1.1.0
servers:
  - url: https://reporting.miramarket.site
paths:
  /api/static:
    get:
      summary: Get all static pageview entries
      responses:
        "200":
          description: OK
    post:
      summary: Create static pageview entry
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StaticInput"
            example:
              url: https://test.miramarket.site/
              type: pageview
              user_agent: Mozilla/5.0
              language: en-US
              screen_width: 1920
              screen_height: 1080
              session_id: 9f66dc7b-6f0f-4d9d-8c0d-1246f2b8023f
              created_at: "2026-02-28T00:00:00Z"
      responses:
        "201":
          description: Created
  /api/static/useragents:
    get:
      summary: Get grouped static user agents
      responses:
        "200":
          description: OK
  /api/static/languages:
    get:
      summary: Get grouped static languages
      responses:
        "200":
          description: OK
  /api/static/screensizes:
    get:
      summary: Get grouped static screen sizes
      responses:
        "200":
          description: OK
  /api/static/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
    get:
      summary: Get one static pageview entry by ID
      responses:
        "200":
          description: OK
        "404":
          description: Not found
    put:
      summary: Update one static pageview entry by ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StaticInput"
      responses:
        "200":
          description: Updated
        "400":
          description: Invalid ID
        "404":
          description: Not found
    delete:
      summary: Delete one static pageview entry by ID
      responses:
        "200":
          description: Deleted
        "400":
          description: Invalid ID
        "404":
          description: Not found
  /api/activity:
    get:
      summary: Get all activity entries
      responses:
        "200":
          description: OK
    post:
      summary: Create activity entry
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ActivityInput"
            example:
              session_id: 9f66dc7b-6f0f-4d9d-8c0d-1246f2b8023f
              event_name: click
              event_category: interaction
              event_data:
                target: button#signup
              url: https://test.miramarket.site/
              created_at: "2026-02-28T00:00:00Z"
      responses:
        "201":
          description: Created
  /api/activity/names:
    get:
      summary: Get grouped activity event names
      responses:
        "200":
          description: OK
  /api/activity/categories:
    get:
      summary: Get grouped activity categories
      responses:
        "200":
          description: OK
  /api/activity/urls:
    get:
      summary: Get grouped activity URLs
      responses:
        "200":
          description: OK
  /api/activity/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
    get:
      summary: Get one activity entry by ID
      responses:
        "200":
          description: OK
        "404":
          description: Not found
    put:
      summary: Update one activity entry by ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ActivityInput"
      responses:
        "200":
          description: Updated
        "400":
          description: Invalid ID
        "404":
          description: Not found
    delete:
      summary: Delete one activity entry by ID
      responses:
        "200":
          description: Deleted
        "400":
          description: Invalid ID
        "404":
          description: Not found
  /api/performance:
    get:
      summary: Get performance percentile metrics
      parameters:
        - $ref: "#/components/parameters/StartDate"
        - $ref: "#/components/parameters/EndDate"
      responses:
        "200":
          description: OK
        "401":
          description: Authentication required
  /api/errors:
    get:
      summary: Get errors time series and grouped top errors
      parameters:
        - $ref: "#/components/parameters/StartDate"
        - $ref: "#/components/parameters/EndDate"
        - $ref: "#/components/parameters/GroupBy"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: OK
        "401":
          description: Authentication required
  /api/reports:
    get:
      summary: List saved reports for current role
      responses:
        "200":
          description: OK
        "401":
          description: Authentication required
    post:
      summary: Create saved report and generate PDF
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReportSaveRequest"
      responses:
        "201":
          description: Created
        "400":
          description: Invalid request
        "401":
          description: Authentication required
        "403":
          description: Insufficient permissions
  /api/reports/latest/{section_key}:
    get:
      summary: Get latest published report for section
      parameters:
        - name: section_key
          in: path
          required: true
          schema:
            type: string
            enum: [overview, sessions, performance, errors]
      responses:
        "200":
          description: OK (data may be null)
        "400":
          description: Invalid section
        "401":
          description: Authentication required
  /api/reports/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
    get:
      summary: Get one saved report by ID
      responses:
        "200":
          description: OK
        "401":
          description: Authentication required
        "403":
          description: Insufficient permissions
        "404":
          description: Report not found
    put:
      summary: Update saved report and regenerate PDF
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReportSaveRequest"
      responses:
        "200":
          description: Updated
        "400":
          description: Invalid request
        "401":
          description: Authentication required
        "403":
          description: Insufficient permissions
        "404":
          description: Report not found
  /api/reports/{id}/publish:
    post:
      summary: Publish or unpublish a saved report
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                is_published:
                  type: boolean
      responses:
        "200":
          description: Updated
        "401":
          description: Authentication required
        "403":
          description: Insufficient permissions
        "404":
          description: Report not found
  /api/reports/{id}/pdf:
    get:
      summary: Get downloadable PDF URL for a saved report
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: OK
        "401":
          description: Authentication required
        "403":
          description: Insufficient permissions
        "404":
          description: Report not found
  /api/users/{id}/sections:
    put:
      summary: Assign analyst section access (owner only)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [sections]
              properties:
                sections:
                  type: array
                  items:
                    type: string
                    enum: [overview, sessions, performance, errors]
      responses:
        "200":
          description: Updated
        "400":
          description: Invalid request
        "401":
          description: Authentication required
        "403":
          description: Insufficient permissions
        "404":
          description: User not found
components:
  parameters:
    StartDate:
      name: start
      in: query
      required: false
      schema:
        type: string
        pattern: '^\\d{4}-\\d{2}-\\d{2}$'
      description: Start date in YYYY-MM-DD
    EndDate:
      name: end
      in: query
      required: false
      schema:
        type: string
        pattern: '^\\d{4}-\\d{2}-\\d{2}$'
      description: End date in YYYY-MM-DD
    GroupBy:
      name: group
      in: query
      required: false
      schema:
        type: string
        enum: [day, hour]
      description: Group granularity
    Page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        default: 1
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
  schemas:
    ReportSaveRequest:
      type: object
      required: [title, section_key, category, report_json, screenshot_images]
      properties:
        title:
          type: string
        section_key:
          type: string
          enum: [overview, sessions, performance, errors]
        category:
          type: string
          enum: [traffic, behavior, performance]
        report_json:
          type: object
          additionalProperties: true
        screenshot_images:
          type: array
          items:
            type: object
            properties:
              label:
                type: string
              data_url:
                type: string
        is_published:
          type: boolean
    StaticInput:
      type: object
      properties:
        url:
          type: string
          nullable: true
        type:
          type: string
          nullable: true
        user_agent:
          type: string
          nullable: true
        language:
          type: string
          nullable: true
        screen_width:
          type: integer
          nullable: true
        screen_height:
          type: integer
          nullable: true
        referrer:
          type: string
          nullable: true
        client_timestamp:
          type: integer
          nullable: true
        server_timestamp:
          type: string
          format: date-time
          nullable: true
        client_ip:
          type: string
          nullable: true
        session_id:
          type: string
          nullable: true
        payload:
          type: object
          nullable: true
        created_at:
          type: string
          format: date-time
          nullable: true
    ActivityInput:
      type: object
      properties:
        session_id:
          type: string
          nullable: true
        event_name:
          type: string
          nullable: true
        event_category:
          type: string
          nullable: true
        event_data:
          type: object
          nullable: true
        url:
          type: string
          nullable: true
        server_timestamp:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
          nullable: true
